.main-landing-container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);

    .hero-container {
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
    }

    .socials-container {
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
    }

    .carousel-main-container {
      height: 360px;
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
    }

    .characters-section {
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
    }

    .episodes-section {
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
    }

    .locations-section {
      grid-column: span 1 / span 1;
      grid-row: span 1 / span 1;
    }
  }
}

.hero-container {
  width: 100%;
  height: 100%;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--neutro);

  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;

  background-image: radial-gradient(
      at 21% 74%,
      hsla(207, 100%, 57%, 0.1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 0) 0px, transparent 50%);
}

.socials-container {
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--neutro);

  grid-column: span 3 / span 3;
  grid-column-start: 4;
}

.carousel-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  background-color: var(--neutro);
  overflow: hidden;

  background-image: radial-gradient(
      at 100% 100%,
      hsla(207, 100%, 57%, 0.1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(342, 0%, 100%, 0) 0px, transparent 50%);

  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 2;
}

.carousel-main-container:hover {
  & .carousel-container .item-container .item-content {
    background-color: rgba(250, 250, 250, 0.5);
    box-shadow: 0px 10px 40px -1px rgba(32, 32, 32, 0.15);
  }
}

.characters-section {
  padding: 40px;
  border-radius: 10px;
  background-color: var(--neutro);

  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 4;

  background-image: radial-gradient(
      at 100% 100%,
      hsla(207, 100%, 57%, 0.1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(342, 0%, 100%, 0) 0px, transparent 50%);
}

.episodes-section {
  padding: 40px;
  border-radius: 10px;
  background-color: var(--neutro);

  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 4;

  background-image: radial-gradient(
      at 0% 100%,
      hsla(207, 100%, 57%, 0.1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 100%, hsla(342, 0%, 100%, 0) 0px, transparent 50%);
}

.locations-section {
  padding: 40px;
  border-radius: 10px;
  background-color: var(--neutro);
  background-image: radial-gradient(
      at 100% 0%,
      hsla(207, 100%, 57%, 0.1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(342, 0%, 100%, 0) 0px, transparent 50%);

  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 4;
}
