<div class="main-landing-container">
    <!-- Header -->
    <div class="hero-container">
        <h1 class="hero-title">Welcome to the <span class="hero-title-highlight">Rick And Morty API</span></h1>
        <p class="hero-subtitle">
            This application was created using the Rick and Morty API with Angular. You can see all the characters
            from the series, their status, species, origin and location.
        </p>
        <a class="btn btn-primary" routerLink="/characters">Get Started</a>
    </div>

    <div class="socials-container">
        Some social networks
    </div>

    <!-- Carousel -->
    <div class="carousel-main-container">
        <c-carousel [activeIndex]="0" (itemChange)="onItemChange($event)" [interval]="1000" transition="slide">
            <c-carousel-inner class="carousel-container">
                <c-carousel-item *ngFor="let slide of slides">
                    <div class="item-container">
                        <span class="item-content">
                            <div *ngIf="slide.loading" class="loader">
                                <c-spinner color="secondary" />
                            </div> <!-- Loader -->
                            <img [src]="slide.src" alt="{{slide.title}}" class="image-carousel" loading="lazy"
                                (load)="onImageLoad(slide)" />
                            <span class="item-text-container">
                                <span class="item-text">
                                    <h3 class="item-title" [title]="slide.title">{{slide.title}}</h3>
                                    <span class="carousel-description">
                                        <app-icon iconName="circle" iconWeight="fill" iconSize="lg" />
                                        {{slide.subtitle}} - {{slide.type}}
                                    </span>
                                </span>
                                <a [routerLink]="['/characters/detail/', slide.id_character]"
                                    class="details-btn-primary">More Details</a>
                            </span>
                        </span>
                    </div>
                </c-carousel-item>
            </c-carousel-inner>
        </c-carousel>
    </div>


    <section class="characters-section">
        Characters
    </section>
    <section class="episodes-section">
        Episodes
    </section>
    <section class="locations-section">
        Locations
    </section>
</div>