<div class="character-detail-main-container">

    <nav class="character-detail-nav">
        <h1 class="page-title">Character Detail Page</h1>
        <button (click)="goBack()">Back</button>
    </nav>

    <h1>{{ character.name }}</h1>
    <img [src]="character.image" alt="{{ character.name }}">
    <p>Status: {{ character.status }}</p>
    <p>Species: {{ character.species }}</p>

    <p>Origin: {{ character.origin.name }}</p>
    <p>Location: {{ character.location.name }}</p>



    <div class="related-episodes-container">
        <h2 class="related-episodes-title">Characters from related episodes:</h2>
        <ul class="characters-related">
            <li *ngFor="let character of allCharactersFromEpisode" class="character-related">
                <app-character-item [customUrl]="'../' + character.id" [status]="character.status"
                    [species]="character.species" [id]="character.id" [image]="character.image"
                    [isLoading]="character.loading" [name]="character.name" [character]="character" />
            </li>
            <li *ngIf="allCharactersFromEpisode.length === 0">
                <p>No characters found for this episode.</p>
            </li>
        </ul>
    </div>



</div>