<div class="main-landing-container">
    <!-- Header -->
    <div class="header-container">
        <div class="header-content">
            <h1 class="header-title">Welcome to the <span class="header-title-highlight">Rick And Morty API</span></h1>
            <p class="header-subtitle">
                This application was created using the Rick and Morty API with Angular. You can see all the characters
                from the series, their status, species, origin and location.
            </p>
            <a class="btn btn-primary" routerLink="/characters">Get Started</a>
        </div>
    </div>

    <!-- Carousel -->
    <div class="carousel-main-container">
        <c-carousel [activeIndex]="0" (itemChange)="onItemChange($event)" [interval]="1000" transition="slide"
            [pause]="false">
            <c-carousel-inner class="carousel-container">
                <c-carousel-item *ngFor="let slide of slides; let i = index"
                    [ngClass]="{'active': i === currentSlide }">
                    <span class="d-block w-100 item-carousel">
                        <img [src]="slide.src" alt="{{slide.title}}" class="image-crousel" loading="lazy" />
                    </span>
                    <c-carousel-caption class="carousel-caption">
                        <h3>{{slide.title}}</h3>
                        <p>{{slide.subtitle}}</p>
                    </c-carousel-caption>
                </c-carousel-item>
            </c-carousel-inner>
        </c-carousel>
    </div>
</div>