<div class="hero-container">
    <span class="hero-title-container">
        <h1 class="title-hero">Welcome to the
            <span class="hero-title-highlight">Rick And Morty API</span>
        </h1>
        <p class="hero-subtitle">
            Powered by <a href="https://angular.io/" target="_blank">Angular</a>
        </p>
    </span>
    <p class="hero-description">
        This application was created using the Rick and Morty API with Angular. You can find information about the
        characters, episodes, and locations of the series. Enjoy it!
    </p>
    <a class="details-btn-primary" [routerLink]="'/characters'" aria-label="Get Started">Get Started</a>

</div>