<div class="character-item">
    <div *ngIf="isLoading" class="loader">
        <c-spinner color="secondary" />
    </div>
    <figure class="character-image-container" [ngStyle]="{ 'background-image': 'url(' + image + ')' }">
        <img [src]="image" alt="{{ name }}" loading="eager" (load)="onImageLoad(character)" />
    </figure>
    <span class="character-info">
        <h1 [cTooltip]="name.length > 20 ? name : undefined" class="info-title">
            {{name}}</h1>
        <div class="info-species">
            <span class="info-species-item">
                <app-icon name="circle" size="lg" weight="fill" [classIcon]="'status-' + status.toLowerCase()" />
                <p class="item-text">{{ status }} - {{ species }}</p>
            </span>
            <a *ngIf="!customUrl" class="details-btn-secondary" [routerLink]="['detail', id]" routerLinkActive="active"
                aria-current="page">More Details</a>
            <a *ngIf="customUrl" class="details-btn-secondary" [routerLink]="customUrl" routerLinkActive="active"
                aria-current="page">More Details</a>
        </div>
    </span>
</div>