<div class="characters-container" *ngIf="characters">
    <h1>Character List</h1>
    <ul class="characters-list">
        <li *ngFor="let character of characters" class="character-item">
            <img [src]="character.image" alt="{{ character.name }}">
            <a [routerLink]="['detail', character.id]" routerLinkActive="active" ariaCurrentWhenActive="page">{{
                character.name }}</a>

            <p>{{ character.status }} - {{ character.species }}</p>
        </li>
    </ul>


    <app-pagination [info]="info" [pageCurrent]="pageCurrent" [listPages]="listPages" [isLoading]="isLoading"
        (pageChange)="goToPage($event)" />
</div>