<div class="pagination">
    <span class="pages-buttons">
        <button title="Go to previous page" (click)="previousPage()" [disabled]="!info.prev || isLoading">
            <app-icon name="caret-left" size="sm" weight="bold" />
        </button>
        <ul class="pages-list">
            <li *ngIf="info.prev && pageCurrent >= 3" class="">
                <app-icon name="dots-three" size="sm" weight="bold" />
            </li>
            <li *ngFor="let page of listPages | slice: (pageCurrent - 2) < 0 ? 0 : (pageCurrent - 2) : (pageCurrent + 3)"
                [ngClass]="{ active: page === pageCurrent }">
                <button (click)="goToPage(page)" [disabled]="isLoading">{{ page }}</button>
            </li>
            <li *ngIf="info.next && pageCurrent <= info.pages - 4">
                <app-icon name="dots-three" size="sm" weight="bold" />
            </li>
        </ul>
        <button title="Go to next page" (click)="nextPage()" [disabled]="!info.next || isLoading">
            <app-icon name="caret-right" size="sm" weight="bold" />
        </button>
    </span>
    <p class="pages-info">Page {{ pageCurrent }} of {{ info.pages }}</p>
</div>