<div class="socials-landing-container">
    <p class="title-socials">
        This is a project made by <a href="https://github.com/JJGarciaMartinez">Juan García</a> using the
        <a href="https://rickandmortyapi.com/">Rick and Morty API.</a>
    </p>
    <div class="findme-container">
        <p class="findme-title">You can find me on:</p>
        <span class="social-links">
            <app-social-pill socialName="@JuanGMc23" socialIcon="twitter-logo"
                socialLink="https://twitter.com/JuanGMc23" size="lg" />
            <app-social-pill socialName="JJGarciaMartinez" socialIcon="github-logo" socialLink="https://github.com"
                size="lg" />
            <app-social-pill socialName="Juan García" socialIcon="linkedin-logo"
                socialLink="https://www.linkedin.com/in/juanjgarcia23" size="lg" />
        </span>
    </div>
    <p class="additional-info">
        For more information about the API, check out the <a href="https://rickandmortyapi.com/"
            target="_blank">official documentation</a>.
    </p>
</div>