@import "@phosphor-icons/web/thin";
@import "@phosphor-icons/web/light";
@import "@phosphor-icons/web/bold";
@import "@phosphor-icons/web/fill";
@import "@phosphor-icons/web/duotone";
@import "@phosphor-icons/web/regular";

@import "@coreui/coreui";

:root {
  margin: 0;
  padding: 0;
  ---neutro: #f9f9f9;
  ---base: #333;
  ---acent: #6b8e23;
  ---calid: #a0522d;
  ---contrastDetail: #4682b4;
  ---alive: #0c971f;
  ---dead: #971c0c;
  ---unknown: #6b6b6b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.5;
}

p {
  margin: 0;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background-color: #e4e4e4;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(56, 56, 56, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(53, 53, 53, 0.4);
}
