<nav class="navbar-container">
    <span class="navbar-brand-container">
        <img src="https://rick-and-morty-challenge-virid.vercel.app/assets/icon-512x512-CrHeM_n2.webp" alt="Logo" />

    </span>

    <ul class="navbar-nav">
        <ng-container *ngFor="let item of navbarRoutes">
            <li class="nav-item" [ngClass]="{'active': item.url === currentRoute}">
                <a [routerLink]="item.url" class="nav-item-link">
                    <app-icon [iconName]="item.icon" [iconSize]="'lg'" [iconWeight]="'regular'" class="icon-link" />
                    {{ item.name }}
                </a>
            </li>
        </ng-container>
    </ul>
</nav>